@font-face {
    font-family: futura;
    src: url("../fonts/Futura Bold.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: futura-bold;
    src: url("../fonts/Futura Bold.ttf");
    font-weight: bold;
    font-style: normal;
}








body {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


button {
    border: none;
    padding: 0;
    font-family: futura-bold;
}
.header {
    margin: 0;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 10px;
}
.container-logo {
    width: 74px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    
}
.container-menu {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    
}
.menu__button {
    display: none;
}
.menu-list {
    list-style-type: none;
    display: flex;
    margin: 0;

}
.menu-list-item a {
    color: #000000;
    font-family: futura-bold;
}

.menu-list-item a:hover {
    color: #000000;
    font-family: futura-bold;
}
.menu-list-item:nth-child(n + 2) {
    margin-left: 38px;
}
.menu-link:hover {
    text-decoration: underline;
}
.menu-link {
    text-decoration: none;
    color: #ffffff;
    position: relative;
    font-family: open-sans, serif;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
    z-index: 2;
}



.container-profile {
    display: flex;
    box-sizing: border-box;
    width: 150px;
    
    margin: 0;
    margin-left: auto;
    
    align-items: center;
    
    
}

.profile {
    display: flex;
    list-style: none;
    margin: 0;

}

.profile-item {
    margin-right: 20px;
}
.profile-item:last-child {
    margin-right: 0;
}

.profile-item-link {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    
}


    a.profile-link-search {
    background-image: url("../svg/search.svg");
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-link-favourites {
    background-image: url("../svg/favourite.svg");
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    
}

.profile-link-cabinet {
    background-image: url("../svg/profile.svg");
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    
}

.profile-link-cart {
    background-image: url("../svg/cart.svg");
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    
}

.profile-link-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}



.welcome {
    display: flex;
    background-image: url("../images/main.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
    z-index: 1;
    
    width: 100%;
    box-sizing: border-box;
    height: 703px;
    justify-content: center;
    align-items: center;
}
.welcome::before {
    content: "";
    background-color: #000000;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    opacity: 0.35;
}

   
.main-screen {
    width: 100%;
}

.container {
    display: flex;
    
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    
}



.container-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    

}
.welcome-title {
    position: relative;
    text-align: center;
    z-index: 2;
    text-transform: uppercase;
    margin: 0;
    font-family: futura-bold;
    font-weight: bold;
    font-size: 45px;
    line-height: 1.5;
    color: #fffeff;
}

.welcome-title-small {
    text-align: center;
    text-transform: none;
    color: #ffffff;
    font-family: futura-bold;
    margin: 0;
}

.container-polygon {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: -60px;
    display: flex;
    justify-content: space-between;
}



.container-list {
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    display: flex;
    position: absolute;
    margin-top: 520px;
    align-items: center;
}
.circle1 {
    width: 15px;
    height: 15px;
    border-radius: 8px;
    border: 2px solid #ffffff;
    margin-right: 35px;
}

.circle2 {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    margin-right: 35px;
}

.circle3 {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
}

/*.list-bottom {
    position: absolute;
    margin-top: 260px;
}*/

h3 > a {
    text-decoration: none;
    color: #000000;
    font-family: futura-bold;
    margin: 0;
}

h4 > a {
    text-decoration: none;
    color: #000000;
    font-family: futura-bold;
    margin: 0;
}

.new_collection {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
    
}
.new-title {
    text-transform: uppercase;
    font-size: 32px;
    text-align: center; 
    font-family: futura-bold;

}
.new-collection {
    display: flex;
    align-items: center;
    width: 1096px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
}
.user__img {
    width: 538px;
    height: 538px;
}

.new-info{
    display: block;
    width: 426px;
    margin-left: 132px;
    
}

.article__text {
    margin-bottom: 60px;
}

.button_discover{
    width: 203px;
    height: 60px;
    outline: none;
    background-color: #333533;
    
}

.button_discover:hover {
    
    background-color: #91A6BF;
}

.button_discover-label {
    font-family: futura;
    color: #ffffff;
    font-size: 20px;
}

.button_shop{
    width: 203px;
    height: 60px;
    outline: none;
    background-color: #DCE1E7;
        
}

.button_shop:hover {
    
    background-color: #91A6BF;
}

.button_shop-label {
    font-family: futura;
    color: #000000;
    font-size: 20px;
}

.container-trands {
    margin: 0;
    margin-top: 125px;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.trands__list {
    text-decoration: none;
    display: flex;
    margin: 0;
    margin-bottom: 60px;
}
    
.trands__item {
    
    margin-right: 20px;
}

.trands__item:last-child {
    margin-right: 0;
}

.trand_info {
    width: 427px;
}

.trands-title {
    text-align: center;
    text-transform: uppercase;
    font-family: futura;
    font-size: 32px;
}



.container-designers {
    margin-top: 125px;
}
.designers {
    display: flex;
    flex-direction: column;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
}
.featured-designers {
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
}
.designers__list {
    display: flex;
    margin: 0;
    margin-bottom: 60px;
}
.designers__item {
    margin-right: 20px;
}

.designer {
    display: flex;
    align-items: center;
    justify-content: center;
}

article .designer {
    position: relative;
    
}
.designer_info {
    position: absolute;
    margin: 0;
    font-family: futura-bold;
    font-size: 24px;  
    color: #ffffff;
}


.designers__item:last-child {
    margin-right: 0;
}

.designers_buttons {
    display: flex;
    align-self: center;
    width: 426px;
    justify-content: space-between;
}
.button_view {
        width: 203px;
        height: 60px;
        outline: none;
        background-color: #333533;
        
        
    }
    
    .button_view:hover {
        
        background-color: #91A6BF;
    }
    
    .button_view-label {
        font-family: futura;
        color: #ffffff;
        font-size: 20px;
    }

    
    

    .links {
        display: flex;
        flex-direction: column;
        margin-top: 125px;
        margin-bottom: 125px;
        align-items: center;
    }

    .follow {
        font-size: 32px;
        text-transform: uppercase;

    }
    .container-link {
        display: flex;
        box-sizing: border-box;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
       
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        
    }

    .socials {
        display: flex;
        list-style: none;
        margin: 0;
    
    }

    .socials-item {
        margin-right: 53px;
    }
    .socials-item:last-child {
        margin-right: 0;
    }

    .socials-link {
        display: block;
        width: 51px;
        height: 51px;
        background-repeat: no-repeat;
        background-size: 51px;
        background-position: center;
        
    }
    

        .socials-link-instagram {
        background-image: url("../svg/Instagram.svg");
    }

    .socials-link-tiktok {
        background-image: url("../svg/TikTok.svg");
    }

    .socials-link-facebook {
        background-image: url("../svg/Fb.svg");
    }

    .socials-link-youtube {
        background-image: url("../svg/YouTube.svg");
    }

    .socials-link-text {
        position: absolute;
        width: 1px;
        height: 1px;
        clip: rect(1px, 1px, 1px, 1px);
    }

    .footer {
        width: 100%;
        height: 350px;
        background-color: #333533;
        
    }

    .footer-elements {
        width: 1320px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        padding-top: 60px;
   }
    
    .articles-footer {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .links-column {
        margin-right: 131px;
    }

    .text-links {
        color: #ffffff;
        font-size: 20px;
    }

    .quick-link a {
        color: #ffffff;
        text-decoration: none;
        font-size: 20px;
    }

    .text-column {
        margin-right: 131px;
    }
    .subscribe {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .subscribe-text {
        color: #ffffff;
        font-family: futura-bold;
        font-size: 22px;
    }

    .email {
        width: 648px;
        height: 60px;
        background-color: #ffffff;
        outline: none;
        border: none;
        box-sizing: border-box;
        padding: 10px;
    }
    .subscribe-button {
        width: 203px;
        height: 60px;
        background-color: #DCE1E7;
        margin-top: 40px;
        outline: none;
        border: none;
        font-size: 20px;
        color: #000000;
    }

    .subscribe-button:hover {
        background-color: #91A6BF;
        
    }

    .email-span {
        display: none;
    }

    @media (max-width: 640px) {

        .welcome {
            height: 635px;
        }

        
    .menu {
        width: 25px;
        height: 25px;

    }
    .menu__button {
        display: block;
        width: 1.4em;
        height: 1em;
        border: none;
        padding: 0;
        background-color: transparent;
        font-size: 25px;
        position: relative;
        text-indent: -9999px;
        cursor: pointer;
        margin: 5px 0;
    }
    .menu__button:before {
        top: 0;
    }
    .menu__button:after {
        bottom: 0;
    }
    .menu__button:after, .menu__button:before {
        content: "";
        width: 100%;
        height: 20%;
        border-radius: 5px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
    }
    .menu__button-label {
        width: 100%;
        height: 20%;
        margin-top: -0.1em;
        border-radius: 5px;
        background-color: #000000;
        position: absolute;
        left: 0;
        top: 50%;
    }
    .menu-list {
        display: none;
    }
    
    .container-new {
        
            display: flex;
            flex-direction: column;
            width: 90%;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
    }
    .new-collection {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .user img {
        width: 100%;
        height: 100%;
    }
    .new-info {
        width: 100%;
        margin-left: 0;
    }


    .container-trands {
        width: 90%;
    }
    .trands__list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

    }
    .trands__item {
        width: 100%;
        flex: 1 1 auto;
        margin: 0;
        margin-bottom: 0.5%;
    }
    .trands__item:last-child {
        margin-bottom: 45px;
    }
    .trand_image img {
        width: 100%;
        
    }
    .trand_info {
        width: 100%;
    }


    .container-designers {
        width: 90%;
    }

    .designers {
        width: 100%;
    }

    .designers__list {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
    }

    .designers__item {
        width: 100%;
        flex: 1 1 auto;
        margin: 0;
        margin-bottom: 0.5%;}

    .user-designer img {
        width: 100%;
        height: 100%;
        }
    
    .designers_buttons {
        width: 100%;
    }

    .links {
        width: 90%;
    }

    .footer-elements {
        width: 100%;
    }
    .articles-footer {
        display: flex;
        flex-direction: column;
    }

    .email {
        width: 90%;
    }

}

